/* Modal.css */

.modal-overlay {
  /* position: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Ajusta el valor según sea necesario */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 480px;
  background-color: #fff !important;
  z-index: 101; /* Ajusta el valor según sea necesario, debe ser mayor que el z-index de modal-overlay */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 102; /* Ajusta el valor según sea necesario, debe ser mayor que el z-index de modal-content */
}
